<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="address" class="com.razataggarwal.one_dependencyinjection.model.Address"> 
	<!-- collaborators and configuration for this bean go here -->
		<property name="addressId">
			<value>2</value>
		</property>
		<property name="street">
			<value>#5</value>
		</property>
		<property name="city">
			<value>agra</value>
		</property>
		<property name="country">
			<value>India</value>
		</property>
		<property name="pincode">
			<value>23498</value>
		</property>	
	</bean>
	<bean id="student1" class="com.razataggarwal.one_dependencyinjection.model.Student">
	<!-- collaborators and configuration for this bean go here -->
		<property name="studentId" value="2"/>  <!-- Using value as an attribute  -->
		<property name="studentName" value="Razat Aggarwal" />
		<property name="perm_address" ref="address" />
	</bean>
	<!-- more bean definitions go here -->
	<!-- Using p schema value as an attribute  -->
		<bean id="student2" class="com.razataggarwal.one_dependencyinjection.model.Student" 
		p:studentId="3" p:studentName="ABC" p:perm_address-ref="address">
		</bean>
		
</beans>