<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
https://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- To enable all the annotations provided in dependency -->
    <context:annotation-config/>
	
	<bean id="pizza1" class="com.razataggarwal.two_beanLifecycleMethods.model.Pizza"
		init-method="init" destroy-method="destroy"
		>
		<property name="name" value="TomatoThinCrust" />
		<property name="price" value="89.5d" />
	</bean>
	
	<bean id="dosa1" class="com.razataggarwal.two_beanLifecycleMethods.model.Dosa">
		<property name="name" value="MasalaDosa" />
		<property name="price" value="60.0d" />
	</bean>
	
	<bean id="burger1" class="com.razataggarwal.two_beanLifecycleMethods.model.Burger">
		<property name="name" value="McAlooTikki" />
		<property name="price" value="40.0d" />
	</bean>
</beans>